<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mpl">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".about"></activity>
        <activity
            android:name=".score2"
            android:screenOrientation="locked"></activity>
        <activity
            android:name=".score"
            android:screenOrientation="locked" />
        <activity
            android:name=".Schedule"
            android:launchMode="singleTask"
            android:screenOrientation="locked"></activity>
        <activity
            android:name=".team4"
            android:screenOrientation="locked" />
        <activity
            android:name=".team3"
            android:screenOrientation="locked" />
        <activity
            android:name=".teams2"
            android:launchMode="singleTask"
            android:screenOrientation="locked" />
        <activity
            android:name=".teams"
            android:launchMode="singleTask"
            android:screenOrientation="locked" />
        <activity
            android:name=".Addtournament"
            android:launchMode="singleTask"
            android:screenOrientation="locked" />
        <activity
            android:name=".Home"
            android:screenOrientation="locked" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>